customCommands:
  - key: "<c-a>"
    description: "pick AI commit"
    command: 'git commit -m "{{.Form.Msg}}"'
    context: "files"
    prompts:
     - type: "menuFromCommand"
       title: "ai Commits"
       key: "Msg"
       command: "bunx bunnai"
       filter: '^(?P<number>\d+)\.\s(?P<message>.+)$'
       valueFormat: "{{ .message }}"
       labelFormat: "{{ .number }}: {{ .message | green }}"
  - key: "<c-v>"
    context: "global"
    description: "Create new conventional commit"
    prompts:
      - type: "menu"
        key: "Type"
        title: "Type of change"
        options:
          - name: "feat"
            description: "A new feature"
            value: "feat"
          - name: "fix"
            description: "A bug fix"
            value: "fix"
          - name: "chore"
            description: "Other changes that don't modify src or test files"
            value: "chore"
          - name: "refactor"
            description: "A code change that neither fixes a bug nor adds a feature"
            value: "refactor"
          - name: "ci"
            description: "Changes to CI configuration files and scripts"
            value: "ci"
          - name: "docs"
            description: "Documentation only changes"
            value: "docs"
          - name: "perf"
            description: "A code change that improves performance"
            value: "perf"
          - name: "revert"
            description: "Reverts a previous commit"
            value: "revert"
          - name: "style"
            description: "Changes that do not affect the meaning of the code"
            value: "style"
          - name: "test"
            description: "Adding missing tests or correcting existing tests"
            value: "test"
      - type: "menu"
        key: "Scope"
        title: "Scope of change"
        options:
          - name: "Nod"
            description: "Changes made that affect the Nod App"
            value: "Nod"
          - name: "Nod-Knows"
            description: "Changes made that affect Nod-Knows"
            value: "Nod-Knows"
          - name: "NodServer"
            description: "Changes made that affect NodServer"
            value: "NodServer"
          - name: "nod-mono"
            description: "Changes made that affect the only the root mono-repo, not any of Nod App, NodServer, or Nod-knows"
            value: "nod-mono"
      - type: "menu"
        key: "BREAKING"
        title: "Breaking Change?"
        options:
          - name: "No"
            description: "The changes are backwards compatible"
            value: ""
          - name: "Yes"
            description: "Changes that introduce incompatible API changes"
            value: "!"
      - type: "input"
        title: "message"
        key: "Message"
        initialValue: ""
      - type: "confirm"
        key: "Confirm"
        title: "Commit"
        body: "Are you sure you want to commit?"
    command: "git commit --message '{{.Form.Type}}({{.Form.Scope}}){{.Form.BREAKING}}: {{.Form.Message}}'"
    loadingText: "Creating conventional commit..."
  - key: "<c-p>"
    context: "global"
    description: "Create new conventional commit pull request"
    prompts:
      - type: "menu"
        key: "Type"
        title: "Type of change"
        options:
          - name: "build"
            description: "Changes that affect the build system or external dependencies"
            value: "build"
          - name: "feat"
            description: "A new feature"
            value: "feat"
          - name: "fix"
            description: "A bug fix"
            value: "fix"
          - name: "chore"
            description: "Other changes that don't modify src or test files"
            value: "chore"
          - name: "ci"
            description: "Changes to CI configuration files and scripts"
            value: "ci"
          - name: "docs"
            description: "Documentation only changes"
            value: "docs"
          - name: "perf"
            description: "A code change that improves performance"
            value: "perf"
          - name: "refactor"
            description: "A code change that neither fixes a bug nor adds a feature"
            value: "refactor"
          - name: "revert"
            description: "Reverts a previous commit"
            value: "revert"
          - name: "style"
            description: "Changes that do not affect the meaning of the code"
            value: "style"
          - name: "test"
            description: "Adding missing tests or correcting existing tests"
            value: "test"
      - type: "menu"
        key: "Scope"
        title: "Scope of change"
        options:
          - name: "All"
            description: "Changes made that affect the Nod App, NodServer, and Nod-knows"
            value: "Nod/NodServer/Nod-Knows"
          - name: "nod-mono"
            description: "Changes made that affect the only the root mono-repo, not any of Nod App, NodServer, or Nod-knows"
            value: "nod-mono"
          - name: "Nod"
            description: "Changes made that affect the Nod App"
            value: "Nod"
          - name: "Nod-Knows"
            description: "Changes made that affect Nod-Knows"
            value: "Nod-Knows"
          - name: "NodServer"
            description: "Changes made that affect NodServer"
            value: "NodServer"
          - name: "NodServer/Nod-Knows"
            description: "Changes made that affect NodServer and Nod-Knows"
            value: "NodServer/Nod-Knows"
          - name: "NodServer/Nod"
            description: "Changes made that affect NodServer and Nod"
            value: "NodServer/Nod"
          - name: "Nod/Nod-Knows"
            description: "Changes made that affect the Nod App and Nod-Knows"
            value: "Nod/Nod-Knows"
          - name: "Nod/Nod-Knows/NodServer"
            description: "Changes made that affect the Nod App, Nod-Knows, and NodServer"
            value: "Nod/Nod-Knows"
          - name: "Nod/Nod-Knows/NodServer"
            description: "Changes made that affect the Nod App, Nod-Knows, and NodServer"
            value: "Nod/Nod-Knows"
      - type: "input"
        title: "Target Branch"
        key: "Target"
        initialValue: "main"
      - type: "input"
        title: "Ticket"
        key: "Ticket"
        initialValue: ""
    command: "gh pr create --title '{{.Form.Type}}({{.Form.Scope}}): {{.Form.Ticket}}' --body '' -B '{{.Form.Target}}' -w"
    loadingText: "Creating pr..."
  - key: "Y"
    context: "global"
    description: "Git Town sYnc"
    command: "git town sync --all"
    stream: true
    loadingText: "Syncing"
  - key: "U"
    context: "global"
    description: "Git Town Undo (undo the last Git Town command)"
    command: "git-town undo"
    prompts:
      - type: "confirm"
        title: "Undo Last Command"
        body: "Are you sure you want to Undo the last Git Town command?"
    stream: true
    loadingText: "Undoing Git Town Command"
  - key: "!"
    context: "global"
    description: "Git Town Repo (opens the repo link)"
    command: "git-town repo"
    stream: true
    loadingText: "Opening Repo Link"
  - key: "a"
    context: "localBranches"
    description: "Git Town Append"
    prompts:
      - type: "input"
        title: "Enter name of new child branch. Branches off of '{{.CheckedOutBranch.Name}}'"
        key: "BranchName"
    command: "git-town append {{.Form.BranchName}}"
    stream: true
    loadingText: "Appending"
  - key: "h"
    context: "localBranches"
    description: "Git Town Hack (creates a new branch)"
    prompts:
      - type: "input"
        title: "Enter name of new branch. Branches off of 'Main'"
        key: "BranchName"
    command: "git-town hack {{.Form.BranchName}}"
    stream: true
    loadingText: "Hacking"
  - key: "K"
    context: "localBranches"
    description: "Git Town Delete (deletes the current feature branch and sYnc)"
    command: "git-town delete"
    prompts:
      - type: "confirm"
        title: "Delete current feature branch"
        body: "Are you sure you want to delete the current feature branch?"
    stream: true
    loadingText: "Deleting Feature Branch"
  - key: "p"
    context: "localBranches"
    description: "Git Town Propose (creates a pull request)"
    command: "git-town propose"
    stream: true
    loadingText: "Creating pull request"
  - key: "P"
    context: "localBranches"
    description: "Git Town Prepend (creates a branch between the curent branch and its parent)"
    prompts:
      - type: "input"
        title: "Enter name of the for child branch between '{{.CheckedOutBranch.Name}}' and its parent"
        key: "BranchName"
    command: "git-town prepend {{.Form.BranchName}}"
    stream: true
    loadingText: "Prepending"
  - key: "S"
    context: "localBranches"
    description: "Git Town Skip (skip branch with merge conflicts when syncing)"
    command: "git-town skip"
    stream: true
    loadingText: "Skiping"
  - key: "G"
    context: "files"
    description: "Git Town GO aka:continue (continue after resolving merge conflicts)"
    command: "git-town continue"
    stream: true
    loadingText: "Continuing"
